/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
 }
 *,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
 nav,footer,header,aside{display: block;}
 html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 input,button,textarea{font-family:inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner {padding:0;border:0;}
 a, a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 ul li{list-style: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
 /*--------------------*/

.wrapper{
	background: linear-gradient(292.42deg, #000000 44.68%, #E47005 98.69%);
	min-height: 100%;
	overflow: hidden;
	display: flex;
  	flex-direction: column;
}
.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	padding: 30px 0 0 0;
}
.content__header{}
.header__top{}

.header__top__flex{
	display: flex;
	
}

.image{
	padding: 0 0 7px 0;
	
}
.title__logo{
	display: flex;
	align-items: flex-end;
	font-weight: 900;
	font-size: 28px;
	line-height: 34px;
	margin: 0 0 0 15px;
	color: #faa214f4;
	
}
.menu{
	display: flex;
	align-items: flex-end;
	margin: 0 163px 0 160px;
	justify-content: space-between;
	flex: 1 1 auto;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #f29b0fe7;
	text-shadow: 8px 4px  rgba(174, 96, 6, 0.237);
}
.phone{
	display: flex;
	align-items: flex-end;
}
.text__phone{
	margin: 0 0 0 15px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #f29b0fe7;
	text-shadow: 8px 4px  rgba(174, 96, 6, 0.237);
	
}

.content__header__center{
	margin: 130px 0 0 0;
}


.flex__content__center{
	display: flex;
	justify-content: space-between;
}


.title__info{
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.58);
	padding: 0 0 15px 0;
}
.text__bottom{
	font-weight: 400;
	font-size: 40px;
	line-height: 60px;
}
.klik__span{
	margin-top: 25px;
	display: block;
	width: 305px;
	height: 86px;
	background: linear-gradient(131.09deg, #000000 36.37%, #522300 96.38%);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.44);
	border-radius: 54px;
	position: relative;
	z-index: 3;
}
.text__span{
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;

	padding: 30px 0 30px 67px;
}
.klik__span:hover{
	background: linear-gradient(132.18deg, #331901 44.16%, rgba(227, 227, 227, 0.76) 92.4%);
	box-shadow: 4px 4px 38px 11px rgba(255, 255, 255, 0.43);
}
.text__span:hover{
	color: #E0AF00;
}

.info__spisok__tovar{
	margin: 73px 0 0 0;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
}

.info__spisok__tovar li{
	margin: 0 0 28px 0;
}

.info__spisok__tovar li:last-child{
	margin: 0;
}

.info__spisok__tovar li::before{
	content: url(../img/ikonspisok.png);
	padding: 0 10px 0 0;
}

.muha img{
	position: relative;
	z-index: 2;
 }
 .svet{
	position: absolute;
	z-index: 1;
	top: 300px;
	left: 800px;
	background: #EA6200;
	filter: blur(200px);
	width: 500px;
	height: 700px;
	flex: 0 0 auto;
 }

.section__too{
	background: linear-gradient(138.51deg, #000000 12.81%, rgba(36, 35, 35, 0) 195.47%);
	padding: 0 0 80px 0;
}
.title__text_box{
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	
	padding: 70px 0 0 0;
	color: #f29b0fe7;
	}
.title__text_box:hover{
	color: #ff9d00f9;
	text-shadow: 0px 3px  rgba(174, 96, 6, 0.237);
	
}
.title__text_box::before{
	content: url(../img/Vector\ \(6\).png);
	padding: 0 15px 0 0;
}
.title__text_box::after{
	content: url(../img/Vector\ \(7\).png);
	padding: 0 0 0 15px;
}

.flex__card{
	display: flex;
	justify-content: space-between;
}

.card{
	width: 370px;
	height: 497px;
	background: #FFB31F;
	border-radius: 33px;
	margin: 135px 0 0 0;
}
.card p:hover{
	color: cornflowerblue;
}
.OZ{
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	color: #750202;
	text-align: center;
	padding-top: 25px;
}
.image__perch{
	background: rgba(0, 0, 0, 0.2);
	border-radius: 40px;
	width: 331px;
	height: 297px;
	margin: 64px 0 0 18px;
}
.image__perch img{
	margin: 8px 0 0 57px;
}
.price{
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #750202;
	text-align: center;
	margin: 20px 0 0 0;
}

.section__three{
	padding: 0 0 200px 0;
}
.boxing__textik{
	color: #2b2b2b;
	padding: 50px 0 0 0;
}

.content__droby{
	margin: 70px 0 0 0;
	background: #343434;
	border-radius: 18px;
}
.flex__droby{
	display: flex;
	flex-wrap: wrap;
		
}
.foto__and__text{
	display: flex;
	flex: 0 1 50%;	
	padding: 20px 20px 20px 20px;
	
}

.boxer__photo{
	background: #1D1D1D;
	border-radius: 18px;
	flex: 0 0 258px;
		
}
.tyson_img img{
	margin: 12px 0 0 10px;
}
.gatti_box img{
	margin: 20px 0 0 0;
}

.muga_img img{
	margin: 37px 0 0 0;
	padding-left: 30px;
}
.jony_img img{
	margin: 29px 0 0 30px;
}
.tyson_text_info{
	line-height: 36px;
}
.gatti_box_info{
	line-height: 36px;
}
.muga_text{
	line-height: 36px;
}
.jony_text{
	line-height: 36px;
}

.info__text__boxer{
	flex: 1 1 auto;
	padding: 10px 0 0 20px;
}
.boxer_text{
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}
.smal__info{
	font-weight: 900;
	font-size: 14px;
	color: #A36B00;
	padding-top: 18px;
}

.footer{
	background-color: #161616;
	padding: 20px 0 20px 0px;
}
.flex__footer{
	display: flex;
}

.img__metka{}

.footer__info{
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex: 1 1 auto;
	margin-left: 35px;
	align-items: flex-end;
}




