/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
 }
 *,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
 nav,footer,header,aside{display: block;}
 html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 input,button,textarea{font-family:inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner {padding:0;border:0;}
 a, a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 ul li{list-style: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
 /*--------------------*/

.wrapper{
	background: linear-gradient(95.6deg, #E0AF00 2.2%, #E47005 90.66%);
	min-height: 100%;
	overflow: hidden;
	display: flex;
  	flex-direction: column;
}
.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	padding: 30px 0 0 0;
}
.content__header{}
.header__top{}

.header__top__flex{
	display: flex;
	
}

.image{
	padding: 0 0 7px 0;
}
.title__logo{
	display: flex;
	align-items: flex-end;
	font-weight: 900;
	font-size: 28px;
	line-height: 34px;
	color: #432000;
	margin: 0 0 0 15px;
	
}
.menu{
	display: flex;
	align-items: flex-end;
	margin: 0 163px 0 160px;
	justify-content: space-between;
	flex: 1 1 auto;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
.phone{
	display: flex;
	align-items: flex-end;
}
.text__phone{
	margin: 0 0 0 15px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.content__header__center{
	margin: 130px 0 0 0;
}


.flex__content__center{
	display: flex;
	justify-content: space-between;
}


.title__info{
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.58);
	padding: 0 0 15px 0;
}
.text__bottom{
	font-weight: 400;
	font-size: 40px;
	line-height: 60px;
}
.klik__span{
	margin-top: 25px;
	display: block;
	width: 305px;
	height: 86px;
	background: linear-gradient(131.09deg, #000000 36.37%, #522300 96.38%);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.44);
	border-radius: 54px;
}
.text__span{
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;

	padding: 30px 0 30px 67px;
}
.klik__span:hover{
	background: linear-gradient(132.18deg, #331901 44.16%, rgba(227, 227, 227, 0.76) 92.4%);
	box-shadow: 4px 4px 38px 11px rgba(255, 255, 255, 0.43);
}
.text__span:hover{
	color: #E0AF00;
}

.info__spisok__tovar{
	margin: 73px 0 0 0;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
}

.info__spisok__tovar li{
	margin: 0 0 28px 0;
}

.info__spisok__tovar li:last-child{
	margin: 0;
}

.info__spisok__tovar li::before{
	content: url(../img/ikonspisok.png);
	padding: 0 10px 0 0;
}

.section__too{
	background: linear-gradient(138.51deg, #000000 12.81%, rgba(36, 35, 35, 0) 195.47%);
	padding: 0 0 80px 0;
}
.title__text_box{
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	color: #FFFFFF;
	padding: 70px 0 0 0;
}
.title__text_box::before{
	content: url(../img/Vector\ \(6\).png);
	padding: 0 15px 0 0;
}
.title__text_box::after{
	content: url(../img/Vector\ \(7\).png);
	padding: 0 0 0 15px;
}

.flex__card{
	display: flex;
	justify-content: space-between;
}

.card{
	width: 370px;
	height: 497px;
	background: #FFB31F;
	border-radius: 33px;
	margin: 135px 0 0 0;
}
.card p:hover{
	color: cornflowerblue;
}
.OZ{
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	color: #750202;
	text-align: center;
	padding-top: 25px;
}
.image__perch{
	background: rgba(0, 0, 0, 0.2);
	border-radius: 40px;
	width: 331px;
	height: 297px;
	margin: 64px 0 0 18px;
}
.image__perch img{
	margin: 8px 0 0 57px;
}
.price{
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #750202;
	text-align: center;
	margin: 20px 0 0 0;
}

